<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .bottomContainer {
            width: 100%;
            background: #f2f5f8;
            padding: 50px 0;
            overflow: hidden
        }
        
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background: #FFFFFF;
            border-radius: 10px;
            padding: 0 0 40px 0;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
        }
        
        .header {
            background: #484848;
            padding: 18px 23px;
            border-bottom: 20px solid #dfb74a;
        }
        
        .title {
            color: #FFFFFF;
            font-size: 1.2em;
            margin: 15px 0 10px 0;
        }
        
        .subTitle {
            color: #212121;
            padding: 0 32px;
            font-size: 1em;
            font-weight: bold;
            margin: 25px 0 20px;
        }
        
        .name {
            text-transform: capitalize;
        }
        
        .paragraphContainer {
            margin: 0 auto 45px auto;
        }
        
        .paragraphContainerUnder {
            margin: 45px auto 0 auto;
        }
        
        .paragraph {
            margin: 0 auto 20px auto;
            color: #595959;
            font-size: 1em;
            padding: 0 32px;
        }
        
        .paragraph:last-child {
            margin: 0 auto 0 auto;
        }
        
        .button {
            max-width: 320px;
            line-height: 40px;
            display: block;
            font-size: 1em;
            color: #FFFFFF !important;
            background: #484848;
            padding: 0 32px;
            text-decoration: none;
            margin: 0 auto;
            text-align: center;
            border-radius: 4px;
            text-transform: uppercase;
        }
        
        .underContainer {
            text-align: center;
            padding: 10px;
        }
        
        .mixisLogo {
            height: 40px;
            display: inline-block;
        }
        
        .mitmiLogo {
            height: 40px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="bottomContainer">
        <div class="container">
            <div class="header">
                <p class="title">
                    ¡Solicitud de reservación enviada!
                </p>
            </div>
            <p class="subTitle">A continuación se muestran los datos referentes a la reservación:</p>
            <div class="paragraphContainer">
                <p class="paragraph"><strong>Información sobre el proveedor:</strong></p>
                <p class="paragraph">•Nombre: <strong>{{providerName}}</strong></p>
                <p class="paragraph">•Email: <strong>{{providerEmail}}</strong></p>
                <p class="paragraph">•Teléfono: <strong>{{providerPhoneNumber}}</strong></p>
            </div>
            <div class="paragraphContainer">
                <p class="paragraph"><strong>Información sobre la reservación:</strong></p>
                <p class="paragraph">•Nombre:<strong>{{serviceName}}</strong></p>
                <p class="paragraph">•Tipo de servicio: <strong>{{serviceType}}</strong></p>
                <p class="paragraph">•Pago por adelantado: <strong>{{advancePayment}}</strong></p>
                <p class="paragraph">•Costo del servicio: <strong>{{serviceCost}}</strong></p>
                <p class="paragraph">•Total pago por adelantado: <strong>{{advancePaymentTotal}}</strong></p>
                <p class="paragraph">•Costo total del servicio: <strong>{{total}}</strong></p>
            </div>
            <div class="paragraphContainer">
                <p class="paragraph"><strong>El proveedor revisará tu solicitud y recibiras un email con su respuesta.</strong></p>
            </div>
        </div>
    </div>
</body>

</html>